{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "endOfLine": "crlf"
}
